html,
body {
  background: $body-bg;
}

.container {
  @include grid-row();
  margin: 0 auto;

  background: url('img/common/border-left.png') repeat-y left center,
              url('img/common/border-right.png') repeat-y right center;
}