footer.page-footer {
  @include grid-row();

  background: url('img/common/waves.png') repeat-x left top;
  padding-top: 2 * $valueLargest;

  .legal-info,
  .contact-info {
    font-size: $small-font-size;
  }

  .legal-info {
    a {
      color: $banner-link-color;

      &:hover {
        color: $banner-link-color-hover;
      }
    }
  }

  .legal-info {
    @include grid-column($columns: 8);
  }

  .contact-info {
    @include grid-column($columns: 4);

    .title {
      font-weight: bold;
    }

    .subtitle {
      color: $subheader-font-color;
    }

    .line1,
    .line2,
    .city,
    .state, {
      &:after {
        content: ","
      }
    }

    .phone,
    .email {
      color: inherit;
      font-size: 1.2em;
    }
  }

  .footer-menu {
    @include horizontal-menu();

    li {
      &:before {
        content: "|";
        padding: 0 16px 0 16px;
      }
    }

    li:first-child:before {
      content: "";
      padding: 0;
    }
  }
}

.social-media-menu {
  @include horizontal-menu();

  .menu-item {
    a {
      // Makes the text transparent.
      color: hsla(0, 100%, 100%, 0);
      background: url("img/common/social-media.png") no-repeat;
      width: 32px;
      height: 32px;
      margin: 5px 10px 5px 0;
      display: inline-block;
      opacity: 0.5;
      @include transition-property(opacity);
      @include transition-duration(0.3s);
    }

    a:hover {
      opacity: 1;
    }

    &.facebook a {
      background-position: -5px, -5px;
    }

    &.flickr a {
      background-position: -47px, -5px;
    }

    &.gmail a {
      background-position: -89px, -5px;
    }

    &.linkedin a {
      background-position: -131px, -5px;
    }

    &.picasa a {
      background-position: -173px, -5px;
    }

    &.rss a {
      background-position: -215px, -5px;
    }

    &.skype a {
      background-position: -257px, -5px;
    }

    &.twitter a {
      background-position: -299px, -5px;
    }

    &.vimeo a {
      background-position: -341px, -5px;
    }

    &.wordpress a {
      background-position: -383px, -5px;
    }

    &.youtube a {
      background-position: -425px, -5px;
    }
  }
}