.header-menu {
  margin: 0 0 20px 0;

  @include horizontal-menu();
  @include clearfix();

  ul {
    font-family: $header-menu-font-family;
    font-size: $header-menu-font-size;
    text-transform: uppercase;
  }

  .sub-menu {
    visibility: hidden;
    opacity: 0;
    @include transition-property(opacity, visibility);
    @include transition-duration(0.3s);
    margin: 0;
    padding: 5px;
    position: absolute;
    width: $sub-menu-width;
    z-index: 1000;
    text-transform: none;
    font: 1rem $body-font-family;
    background: $sub-menu-background-color $sub-menu-background;
    @include border-radius(10px);
    @include single-box-shadow($color: $sub-menu-background-color, $hoff: 0, $voff: 0, $blur: 5px, $spread: 0, $inset: false);

    &:before {
      content: " ";
      display: block;
      width: 0;
      height: 0;
      position: relative;
      top: -13px;
      left: 30px;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid $sub-menu-background-color;
    }

    li {
      width: 100%;
      padding: 2% 5%;
      margin: 0;
      border-left: 4px solid $sub-menu-background-color;

      &:hover {
        border-left-color: $sub-menu-item-hover-color;
        a {
          color: $sub-menu-item-hover-color;
        }
      }
    }
  }

  // Target only the first level menu.
  & > .menu > .menu-item > .sub-menu {
    left: -1px;
    top: 100%;
  }


  li {
    // Space out the menu page items.
    margin: 0 20px 0 0;

    padding: 0 5px 0 5px;
    float: left;
    position: relative;

    &:hover {
      cursor: pointer;

      // Display the menu only on mouse over.
      & > .sub-menu {
        visibility: visible;
        opacity: 1;
      }
    }

    a:before {
      content: " ";
      background: url("img/common/header-navigation.png") no-repeat;
      display: inline-block;
      overflow: hidden;
      margin: 0.1rem 0.1rem 0 0;
      @include transition-property(background-position);
      @include transition-duration(0.2s);
      position: relative;
      top: 8px;
    }

    &.home {
      &:hover {
        & > a {
          &:before {
            @include create-sprite(0, -192px, 32px, 32px);
          }
          color: $header-menu-home-color;
        }
      }

      & > a {
        &:before {
          @include create-sprite(0, -224px, 32px, 32px);
        }
      }

      .sub-menu {
        border-bottom: $sub-menu-bottom-border-width solid $header-menu-home-color;
        li:hover {
          border-left-color: $header-menu-home-color;
        }
      }
    }

    &.current-menu-item.home {
      & > a {
        color: $header-menu-home-color;
        &:before {
          @include create-sprite(0, -192px, 32px, 32px);
        }
      }
    }

    &.about-us {
      &:hover {
        & > a {
          &:before {
            @include create-sprite(0, 0, 32px, 32px);
          }
          color: $header-menu-about-us-color;
        }
      }

      & > a {
        &:before {
          @include create-sprite(0, -32px, 32px, 32px);
        }
      }

      .sub-menu {
        border-bottom: $sub-menu-bottom-border-width solid $header-menu-about-us-color;
        li:hover {
          border-left-color: $header-menu-about-us-color;
        }
      }
    }

    &.current-menu-item.about-us {
      & > a {
        color: $header-menu-about-us-color;
        &:before {
          @include create-sprite(0, 0, 32px, 32px);
        }
      }
    }

    &.about-disabilities {
      &:hover {
        & > a {
          &:before {
            @include create-sprite(0, -64px, 32px, 32px);
          }
          color: $header-menu-about-disabilities-color;
        }
      }

      & > a {
        &:before {
          @include create-sprite(0, -96px, 32px, 32px);
        }
      }

      .sub-menu {
        border-bottom: $sub-menu-bottom-border-width solid $header-menu-about-disabilities-color;
        li:hover {
          border-left-color: $header-menu-about-disabilities-color;
        }
      }
    }

    &.current-menu-item.about-disabilities {
      & > a {
        color: $header-menu-about-disabilities-color;
        &:before {
          @include create-sprite(0, -64px, 32px, 32px);
        }
      }
    }

    &.donate {
      &:hover {
        & > a {
          &:before {
            @include create-sprite(0, -128px, 32px, 32px);
          }
          color: $header-menu-donate-color;
        }
      }

      & > a {
        &:before {
          @include create-sprite(0, -160px, 32px, 32px);
        }
      }

      .sub-menu {
        border-bottom: $sub-menu-bottom-border-width solid $header-menu-donate-color;
        li:hover {
          border-left-color: $header-menu-donate-color;
        }
      }
    }

    &.current-menu-item.donate {
      & > a {
        color: $header-menu-donate-color;
        &:before {
          @include create-sprite(0, -128px, 32px, 32px);
        }
      }
    }

    &.shop {
      &:hover {
        & > a {
          &:before {
            @include create-sprite(0, -256px, 32px, 32px);
          }
          color: $header-menu-shop-color;
        }
      }

      & > a {
        &:before {
          @include create-sprite(0, -288px, 32px, 32px);
        }
      }

      .sub-menu {
        border-bottom: $sub-menu-bottom-border-width solid $header-menu-shop-color;
        li:hover {
          border-left-color: $header-menu-shop-color;
        }
      }
    }

    &.current-menu-item.shop {
      & > a {
        color: $header-menu-shop-color;
        &:before {
          @include create-sprite(0, -256px, 32px, 32px);
        }
      }
    }
  }

  a {
    color: $header-menu-color;
    display: block;
  }
}