.header-menu {
  margin: 20px 0;

  @include horizontal-menu();
  @include clearfix();

  ul {
    font-family: $header-menu-font-family;
    font-size: $header-menu-font-size;
    text-transform: uppercase;
  }

  .sub-menu {
    display: none;
    margin: 0;

    li {
      width: 100%;
      padding: 5px 10px;
      margin: 0;
    }
  }

  // Target only the first level menu.
  & > .menu > .menu-item > .sub-menu {
    left: -1px;
    top: 100%;
  }


  li {
    // Space out the menu page items.
    margin: 0 0 0 30px;

    padding: 0 5px 0 5px;
    float: left;
    position: relative;

    &:hover {
      // background-color: red;

      & > .sub-menu {
        display: block;
        position: absolute;
        width: 300px;
        z-index: 1000;
      }
    }

    a:before {
      content: " ";
      background: url("img/common/header-navigation.png") no-repeat;
      display: inline-block;
      overflow: hidden;
      margin: 0.1rem 0.1rem 0 0;
      @include transition-property(background-position);
      @include transition-duration(0.2s);
    }

    &.home {
      & > a {
        &:before {
          @include create-sprite(0, -224px, 32px, 32px);
        }

        &:hover {
          color: $header-menu-home-color;
        }
      }

      & > a:hover:before {
        @include create-sprite(0, -192px, 32px, 32px);
      }
    }

    &.current-menu-item.home {
      & > a {
        color: $header-menu-home-color;
        &:before {
          @include create-sprite(0, -192px, 32px, 32px);
        }
      }
    }

    &.about-us {
      & > a {
        &:before {
          @include create-sprite(0, -32px, 32px, 32px);
        }

        &:hover {
          color: $header-menu-about-us-color;
        }
      }

      & > a:hover:before {
        @include create-sprite(0, 0, 32px, 32px);
      }
    }

    &.current-menu-item.about-us {
      & > a {
        color: $header-menu-about-us-color;
        &:before {
          @include create-sprite(0, 0, 32px, 32px);
        }
      }
    }

    &.about-disabilities {
      & > a {
        &:before {
          @include create-sprite(0, -96px, 32px, 32px);
        }

        &:hover {
          color: $header-menu-about-disabilities-color;
        }
      }

      & > a:hover:before {
        @include create-sprite(0, -64px, 32px, 32px);
      }
    }

    &.current-menu-item.about-disabilities {
      & > a {
        color: $header-menu-about-disabilities-color;
        &:before {
          @include create-sprite(0, -64px, 32px, 32px);
        }
      }
    }

    &.donate {
      & > a {
        &:before {
          @include create-sprite(0, -160px, 32px, 32px);
        }

        &:hover {
          color: $header-menu-donate-color;
        }
      }

      & > a:hover:before {
        @include create-sprite(0, -128px, 32px, 32px);
      }
    }

    &.current-menu-item.donate {
      & > a {
        color: $header-menu-donate-color;
        &:before {
          @include create-sprite(0, -128px, 32px, 32px);
        }
      }
    }

    &.shop {
      & > a {
        &:before {
          @include create-sprite(0, -288px, 32px, 32px);
        }

        &:hover {
          color: $header-menu-shop-color;
        }
      }

      & > a:hover:before {
        @include create-sprite(0, -256px, 32px, 32px);
      }
    }

    &.current-menu-item.shop {
      & > a {
        color: $header-menu-shop-color;
        &:before {
          @include create-sprite(0, -256px, 32px, 32px);
        }
      }
    }
  }

  a {
    color: $header-menu-color;
    display: block;
    @include transition-property(color);
    @include transition-duration(0.5s);

    &:hover {
      color: $header-menu-color-hover;
    }
  }
}