.site-header {
  @include grid-row();

  background: url('img/common/waves.png') repeat-x left bottom;
  padding-bottom: 2 * $valueLargest;

  .masthead {
    @include grid-column($columns: 8);
  }

  a.logo {
    background: url('img/branding/logo.png') no-repeat;

    padding-left: $logo-width;
    min-height: $logo-height;

    color: $body-font-color;
    display: block;

    &:hover,
    &:visited {
      color: $body-font-color;
    }
  }

  .title {
    margin: $valueLarge 0 0 $valueLarge;
  }

  .description {
    margin: 0 0 0 $valueLarge;
    font-family: $header-font-family;
  }

  .secondary {
    margin: 0 0 0 $valueLarge;
    color: $small-font-color;
    font-size: $small-font-size;
  }

  .actions {
    @include grid-column($columns: 4);
  }
}

.navigation-bar {
  margin: 20px 0;

  ul {
    list-style: none;
    font-family: $header-font-family;
    font-size: emCalc(19px);
    text-transform: uppercase;
  }

  li {
    display: inline;
    padding: 0 0 0 64px;
  }

  a {
    color: $subheader-font-color;
  }

  a:hover {
      color: $header-font-color;
  }
}