.sub-featured-posts {
  @include grid-row();

  list-style: none;

  h3 {
    @include page-heading($margin: 0.25em);
  }

  li {
    @include grid-column($columns: 4);
    margin: 1em auto;
  }

  .thumbnail {
    max-height: $sub-featured-thumbnail-height;
    display: block;
    overflow: hidden;
    @include image-glow();

    img {
      width: 100%;
    }
  }
}