@font-face {
    font-family: "Pick and Roll";
    src: url('font/pick-and-roll/pickandroll-webfont.eot');
    src: url('font/pick-and-roll/pickandroll-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/pick-and-roll/pickandroll-webfont.woff') format('woff'),
         url('font/pick-and-roll/pickandroll-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}