// Header logo
$logo-width: 88px;
$logo-height: 120px;


// Values (deprecated)
$valueSmallest: 2px;
$valueSmaller: 4px;
$valueSmall: 6px;
$valueNormal: 8px;
$valueLarge: 10px;
$valueLarger: 12px;
$valueLargest: 14px;
$valueXLarge: 16px;
$valueXLarger: 18px;
$valueXLargest: 20px;
$valueXXLarge: 22px;
$valueXXLarger: 24px;
$valueXXLargest: 26px;
$valueXXXLarge: 28px;
$valueXXXLarger: 30px;
$valueXXXLargest: 32px;

$banner-link-color: #222;
$banner-link-color-hover: lighten($banner-link-color, 20%);

// Header menu
$header-menu-color: #808080;
$header-menu-color-hover: lighten($header-menu-color, 20%);
$header-menu-about-us-color: hsla(16, 86%, 54%, 1);
$header-menu-about-disabilities-color: #86328c;
$header-menu-donate-color: #39b54a;
$header-menu-home-color: #3fa6f2;
$header-menu-shop-color: #ec008c;
$header-menu-font-size: remCalc(22px);
$header-menu-font-family: $header-font-family;

// Sub menu
$sub-menu-background-color: hsla(0, 50%, 100%, 0.95);
$sub-menu-item-hover-color: $header-font-color;
$sub-menu-background: url(img/common/noise.png);
$sub-menu-width: 300px;
$sub-menu-bottom-border-width: 10px;

// Featured image slider
$slider-height: 460px;
$slider-caption-height: 150px;

// Sub featured posts
$sub-featured-thumbnail-height: 128px