// Header logo
$logo-width: 88px;
$logo-height: 120px;

$valueSmallest: 2px;
$valueSmaller: 4px;
$valueSmall: 6px;
$valueNormal: 8px;
$valueLarge: 10px;
$valueLarger: 12px;
$valueLargest: 14px;
$valueXLarge: 16px;
$valueXLarger: 18px;
$valueXLargest: 20px;
$valueXXLarge: 22px;
$valueXXLarger: 24px;
$valueXXLargest: 26px;
$valueXXXLarge: 28px;
$valueXXXLarger: 30px;
$valueXXXLargest: 32px;
