.htaccess
wp-config.php
wp-content/uploads/
wp-content/blogs.dir/
wp-content/upgrade/
wp-content/backup-db/
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
sitemap.xml
*.log
wp-content/cache/
wp-content/backups/
sitemap.xml
sitemap.xml.gz

*.gem
*.rbc
.bundle
.config
.yardoc
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/
test/tmp
test/version_tmp
test/css
test/scss/output-test
tmp
*.DS_Store
marketing/.sass-cache/*
.sass-cache/*
test/.sass-cache/*
test/css/styles.css
*.orig
node_modules
docs/public/*
*.scssc
